    /*--    GLOBAL SETTINGS FOR ESCOLA  --*/
* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

img {
    user-select: none;
}

:root {
    --green: #0eb582;
    --light-green: #f0fdfa;
    --light-color: #777;
    --light-white: #eee;
    --black: #444;
    --white: #fff;
    --border: .1rem solid var(--green);
    --box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}

/* Equivalent to @include grid(250px); */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* Equivalent to @include titleText(2rem); */
.title-Text {
  font-size: 2rem;
  text-transform: capitalize;
  color: #000; /* Replace $black with actual color code */
}

/* Equivalent to @include graphSize(1rem); */
.graph-size {
  font-size: 1rem;
  line-height: 2;
  color: #999; /* Replace $light-color with actual color code */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--green);
    }
}

section {
    padding: 5rem 10%;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: var(--black);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: var(--border);
    background: var(--light-green);
    color: var(--green);
    text-transform: capitalize;
}
.btn:hover {
    background: var(--green);
    color: var(--white);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    font-weight: bolder;
}

.header .logo i{
    color: var(--green);
}
.header .navbar {
    position: relative;
}
.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}
.header .navbar #close-navbar:hover {
    transform: rotate(90deg);
}

.header .navbar a {
    margin-right: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
}
.header .navbar a:hover {
    color: var(--green);
}

.header .icons div{
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 2rem;
}
.header .icons div:hover {
    color: var(--green);
}

.header .icons #menu-btn {
    display: none;
}

.account-form {
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: var(--white);
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
}

.account-form.active {
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
}

.account-form #close-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    
}
.account-form #close-form:hover {
    transform: rotate(90deg);
}

.account-form form {
    border: var(--border);
    padding: 2rem;
    display: none;
    
}
.account-form form.active {
    display: block;
}
.account-form form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-bottom: .5rem;
    text-transform: uppercase;
}
.account-form form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: var(--border);
    font-size: 1.6rem;
    margin: .7rem 0;
}
.account-form form .flex {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.account-form form .flex label {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--light-color);
    cursor: pointer;
}
.account-form form .flex a {
    font-size: 1.5rem;
    color: var(--light-color);
   margin-left: auto;
}
.account-form form .flex a:hover {
    text-decoration: underline;
    color: var(--green);
}

.account-form form .btn {
    width: 100%;
}

.account-form .buttons .btn {
    margin: 0.5rem;
}
.account-form .buttons .btn.active {
    background: var(--green);
    color: var(--white);
}

.subjects .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.subjects .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    border: var(--border);
    background: var(--light-green);
    cursor: pointer;
}
.subjects .box-container .box:hover {
    background: var(--green);
}
.subjects .box-container .box:hover h3 {
    color: var(--white);
}
.subjects .box-container .box:hover p {
    color: var(--light-green);
}
.subjects .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
}
.subjects .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #000;
}
.subjects .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
}



.home-courses .slide {
    text-align: center;
    position: relative;
    background: var(--light-green);
    overflow: hidden;
}
.home-courses .slide:hover .content {
    bottom: 0;
}
.home-courses .slide .image {
    padding: 2rem;
    
}
.home-courses .slide .image img {
    max-width: 100%;
    margin-bottom: 1.5rem;
    height: 30rem;
}
.home-courses .slide .image h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
}

.home-courses .slide .content {
    position: absolute;
    bottom: -100%;
    right: 0;
    left: 0;
    background: var(--green);
    padding: 2rem 3rem;
}
.home-courses .slide .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--white);
}
.home-courses .slide .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-white)
}
.btn:hover {
    background: var(--black);
}

















.footer {
    background: var(--light-green);
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #000;
    padding: 1rem 0;
}
.footer .box-container .box h3 i {
    color: var(--green);
}
.footer .box-container .box .share {
    margin-top: 1rem;
}
.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background-color: var(--green);
    text-align: center;
    color: var(--white);
    margin-right: .3rem;
}
.footer .box-container .box .share a:hover {
    background-color: var(--black);
}

.footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--light-color);
    padding: .5rem 0;
    display: block;
}
.footer .box-container .box .link:hover {
    color: var(--green);
    text-decoration: underline;
}
.footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: var(--border);
    margin-bottom: 1rem;
}
.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #000;
    border-top: var(--border);
}
.footer .credit span {
    color: var(--green);
    cursor: crosshair;
}



.home {
    padding: 0;
}
.home .slide {
    display: flex;
    align-items: center;
    height: 60rem;
    background-size: cover;
    background-position: center !important;
}
.home .slide .content {
    width: 60rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 4rem;
}
.home .slide .content h3 {
    font-size: 6rem;
    text-transform: capitalize;
    color: var(--white);
}
.home .slide .content p {
    font-size: 2rem;
    line-height: 2;
    color: black;
    padding: 1rem 0;

}

.home .home-slider .swiper-pagination {
    background: var(--light-green);
    max-width: fit-content;
    margin-left: 45%;
    padding: 0.4rem;
    border-radius: 40%;
    
}


/*--    About Us    --*/
.heading-link {
    text-align: center;
    background: url(../Images/heading_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.heading-link h3 {
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--black);
}
.heading-link p {
    font-size: 2rem;
    line-height: 2;
    color: #999;
}
.heading-link p a {
    color: var(--green);
}
.heading-link p a:hover {
    text-decoration: underline;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.about .images {
    flex: 1 1 40rem;
}
.about .images img {
    width: 100%;
}

.about .content {
    flex: 1 1 40rem;
}

.about .content .about-title {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
}
.about .content p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
    padding: 1rem 0;
}

.about .content .icons-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.about .content .icons-container .icons {
    flex: 1 1 12rem;
    text-align: center;
    padding: 3rem 2rem;
    border: var(--border);
    background: var(--light-green);
}
.about .content .icons-container .icons img {
    height: 5rem;
    margin-bottom: .5rem;
}
.about .content .icons-container .icons h3 {
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--black);
    padding: .5rem 0;
}
.about .content .icons-container .icons span {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
}


.teachers .slide {
    text-align: center;
}
.teachers .slide:hover .image img {
    background: var(--green);
}
.teachers .slide:hover .image .share {
    bottom: 0;
}
.teachers .slide .image {
    position: relative;
    overflow: hidden;
}
.teachers .slide .image img {
    background: var(--light-green);
    width: 100%;
    height: 35rem;
}
.teachers .slide .image .share {
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    padding: 2rem;
}
.teachers .slide .image .share a {
    font-size: 3rem;
    margin: 0 1rem;
    color: var(--white);
}
.teachers .slide .image .share a:hover {
    color: var(--green);
}

.teachers .slide .content {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
}
.teachers .slide .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
}
.teachers .slide .content span {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
}



.reviews .slide {
    text-align: center;
    
}
.reviews .slide p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
    position: relative;
    background: var(--light-green);
    border: var(--border);
    margin-bottom: 3rem;
    padding: 2rem;
}
.reviews .slide p::before {
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: var(--light-green);
    border-bottom: var(--border);
    border-right: var(--border);
    height: 2rem;
    width: 2rem;
}
.reviews .slide img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.reviews .slide h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--black);
    padding: .5rem;
}
.reviews .slide .stars {
    font-size: 1.2rem;
    color: var(--green);
}



/*--    COURSES     --*/
.courses .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.courses .box-container .box:hover .image img {
    transform: scale(1.1);
}
.courses .box-container .box.hide {
    display: none;
}
.courses .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    position: relative;
}
.courses .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.courses .box-container .box .image h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem 1.5rem;
    background: var(--light-green);
    border-radius: 2rem;
}
.courses .box-container .box .content {
    padding: 2rem;
    text-align: center;
    border: var(--border);
}
.courses .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
}
.courses .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--light-color);
}
.courses .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: var(--border);
}
.courses .box-container .box .content .icons span {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--black);
}
.courses .box-container .box .content .icons span i {
    color: var(--green);
    padding-right: .5rem;
}

.courses .load-more {
    margin-top: 2rem;
    text-align: center;
}




/*--    CONTACT US  --*/
.contact .icons-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.contact .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
    border: var(--border);
    background: var(--light-green);
}
.contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    color: var(--white);
    background: var(--green);
}
.contact .icons-container .icons h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
    padding: .5rem 0;
}
.contact .icons-container .icons p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
}

.contact .row {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact .row .image {
    flex: 1 1 40rem;
}
.contact .row .image img {
    width: 100%;
    height: 68vh;
    margin-top: 0.7rem;

}
.contact .row form {
    flex: 1 1 40rem;
    border: var(--border);
    padding: 2rem;
}
.contact .row form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    padding-bottom: 1rem;

}
.contact .row form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: var(--border);
    font-size: 1.6rem;
    margin: .7rem 0;
}
.contact .row form .box:focus {
    background: var(--green);
    color: var(--white);
}
.contact .row form .box:focus::placeholder {
    color: var(--light-white);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}


/*--    FAQ Section - CONTACTS PAGE     --*/
.faq .accordion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}
.faq .accordion-container .accordion {
    flex: 1 1 40rem;
    border: var(--border);
}
.faq .accordion-container .accordion.active .accordion-heading {
    background: var(--green);
}
.faq .accordion-container .accordion.active .accordion-heading h3 {
    color: var(--white);
}
.faq .accordion-container .accordion.active .accordion-heading i {
    color: var(--white);
    transform: rotate(180deg);
}
.faq .accordion-container .accordion.active .accordion-content {
    display: block;
}
.faq .accordion-container .accordion .accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    padding: 1.5rem;
}
.faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--black);
}
.faq .accordion-container .accordion .accordion-heading i {
    font-size: 2rem;
    color: var(--green);
}

.faq .accordion-container .accordion .accordion-content {
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
    border-top: var(--border);
    display: none;
}






    






























/*--    MEDIA QUERIES   --*/
@media (max-width:1200px) {
    .header {
        padding: 2rem 5%;
    }
    section {
    padding: 3rem 5%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
    padding: 3rem 2rem;
    }
}

@media (max-width:768px) {
    .header .icons #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: fixed;
        top: 0;
        right: -105%;
        width: 30rem;
        background: var(--white);
        
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1200;
    }
    .header .navbar #close-navbar {
        display: block;
    }
    .header .navbar.active {
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
        right: 0;
    }
    .header .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
    }
    .home .slide .content h3 {
        font-size: 3rem;
    }
    
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
    .about .content .about-title {
        font-size: 4rem;
    }
}


